<!-- templates/home.html -->
{% extends 'master.html' %}

{% block title %}Login | My App{% endblock %}

{%block styles%}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
    <!-- <div class="container mt-5">
        <h1>Login</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }} {{ form.username(size=20, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(size=20, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div> -->
        <div class="container">
        <div class="translucent-box">
            <div class="logo">
                <!-- Your logo or branding here -->
                <img src="/static/images/login.png" alt="Logo" style="width: 64px;">
                <!-- <span class="material-symbols-outlined">door_open</span> -->
            </div>
            <div class="login-form">
                <h2>Login</h2>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="input-group">
                        <i class="material-icons input-icon">person</i>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <i class="material-icons input-icon">lock</i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit">Login</button>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="error-message">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
        // Function to dismiss the Bootstrap alert when the close button is clicked
        $(document).ready(function() {
            $(".alert").alert();
        });
    </script>
    {% endblock %}
