<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}My App{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Site name and logo -->
            <a class="navbar-brand" href="#">
                <img src="/static/images/logo.png" alt="Logo" style="width: 64px;">
                Site Name
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <!-- Main menu link to home page -->
                        <a class="nav-link" href="{{ url_for('main_views.home') }}">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <!-- Main menu dropdown -->
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <!-- Add links to admin pages -->
                                <a class="dropdown-item" href="{{ url_for('auth_views.users') }}">User Management</a>
                                <a class="dropdown-item" href="{{ url_for('dashboard_views.dashboard') }}">Dashboard</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <!-- Main menu link to about page -->
                        <a class="nav-link" href="{{ url_for('main_views.about') }}">About</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <!-- Logged in username with option to logout -->
                            <span class="nav-link" style="color: brown; font-weight: bold;"> Welcome, {{ current_user.username }} </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth_views.logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <!-- Login link (add the login route) -->
                            <a class="nav-link" href="{{ url_for('auth_views.login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Flash messages -->
    <div class="container mt-3">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="container">
                    {% for message in messages %}
                        <div class="alert {% if 'Error' in message %}alert-danger{% elif 'Done' in message%}alert-success{% endif %}">{{ message }}</div>
                    {% endfor %}
                </div>

                <!-- {% for message in messages %}
                    <div class="alert alert-{{message.category}} fade show" role="alert">{{ message }}</div>
                {% endfor %} -->
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            {% endif %}
        {% endwith %}
    </div>

    <!-- Content block -->
    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Add Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
